#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear:both;
  padding: 14px;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.bg {
  background-image: url(img/oph-13.jpg);
  height: 250px;
}
