.header#mb{
    display:none;
}
.header{
    overflow: hidden;\
    background: linear-gradient(#172233,#2f3463);
}
.headera, .headerli{
    color: #f2f2f2;
    text-decoration: none;
    list-style-type: none;
}
.header li{
    padding: 20px;
    transition: background 0.3s;
}
.header li:hover{
    background: #3f4689;
}
.header li:first-child{
    float: left;
    list-style-type: none;
}
.header ul:last-child{
    float: right;
    list-style-type: none;
}
.header li.header-burger{
    text-align: right;
}
.header li.header-burger{
    padding-right: 0px;
}
.header li.header-burger:hover ul li{
    display: block;
}
.header li ul li {
    display: none;
    clear: both;
    padding: 15px 0 15px 15px;
    transition: 0.3s;
}
@media only screen and(max-width:1080px){
    .header#pc{
        display: none !important;
    }
    .header#mb{
        display: block !important;
    }
}
